/* colour scheme
Elegant Black: #000000 - background
Regal Gold: # ffd700
Royal Purple: #800080  */
#detailsDiv {
    flex: 0 0 60%;
    background-color: #000000;
    color: #ffd700;
    padding: 0.5em;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desc {
    flex: 0 0 50%;
}

.price {
    flex: 0 0 20%;
}

.buy {
    flex: 0 0 30%;
    border-radius: 20px;
    background-color: #ffd700;
    color: #000000;

}